html, body {
  height: 100%;
  width: 100%;
  }
body {
  min-height: 100%;
}

.center-block {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#landing-wrapper{
  height: 100%;
  position: relative;
}

#landing-content {
  color: white;
}


#firstBlock {
  height: 50%;
  position: relative;
}

#graduation-wrapper {
  height: 70%;
  position: relative;  
}
#graduation-content {
  max-width: 100%;  
}
#secondBlock {
  height: 50%;
}

#military-wrapper {
  height: 70%;
  position: relative;
}

#footer {
  height: 50%;
}

.hero-text {
  font-family: 'Impact'; 
  color:white; 
  text-shadow: 0px 0px 28px black; 
}
@media (max-width: 768px) { 
  .hero-text {
    font-size: 3rem;
  }
 }