html, body {
  height: 100%;
  width: 100%;
}
body {
  min-height: 100%;
  overflow-y: scroll;
  position: relative;
}
/* NavBar */
#top-nav{
  background-color: rgba(0, 0, 0, 0.0);
  transition: 0.7s;
  padding: 0px 1rem;
}
#top-nav:hover{
  background-color: rgba(0, 0, 0, 0.75);  
}
li a{
  transition: 0.5s;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,1.0);
}
li a.active {
  color: rgba(255,255,255,1.0);
  background-color: rgba(0, 0, 0, 0.4);
}
#brand-img{
  width: 40px;
  height: 40px;
}
#brand-text{
  font-family: "Palatino";
}
/* Landing Content */
#landing-wrapper{
  height: 100%;
  position: relative;
  cursor: default;
}
#landing-content > div{
  margin: 20px 0px;  
}
#landing-text{  
  color: white;
  text-shadow: 0px 0px 10px black;
}
#name-eng {  
  letter-spacing: 3px;
  font-family: "Helvetica";
}
#name-ch {
  letter-spacing: 4px;
  font-family: "Yu Gothic";
}
i.fab, i.fas{
  transition: 0.1s;
}
i.fab:hover, i.fas:hover{
  /* box-shadow:  0px 0px 100px white; */
  transform: scale(1.4);
}

/* General Division Default Setting */
.general-div{
  position: relative;
  cursor: default;
}
.div-background{
  position: absolute; 
  left: 0px; 
  top: 0px; 
  height: 100%;
  width: 100%;
  overflow: hidden; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.div-foreground{
  position: relative;
  z-index: 1;
}
.div-title{
  text-align: center;
  font-size: 46px;
  font-family: 'Helvetica';
}
.div-hr{
  height:2px;
  border:none;
  color:#333;
  background-color:#333; 
  width: 75%;
}
.hover-shadow{
  transition-duration: 0.4s;
}
.hover-shadow:hover{
  background-color: rgba(255, 255, 255, 1.0);
  box-shadow: 0px 0px 1px black;
}
/* Education Section */
#education-div{
  background-color: rgba(246, 246, 246, 0.8);
}
#education-div p{
  font-size: 18px;
  font-family: 'Bookman Old Style';
}
/* Hero Image GRADUATION */
#graduation-wrapper {
  height: 70%;
  position: relative;  
}
.center-block {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text {
  font-family: 'Impact'; 
  color:white; 
  text-shadow: 0px 0px 28px black; 
}
/* Publications Division */
#publications-bg{
  background-image: url('src/conference.jpg');
  opacity: 0.15;
}
.pub-meta{
  font-size: 18px;
}
.pub-title{
  font-size: 20px;
}
.pub-year {
  font-style: italic; 
}
/* Hero Image MILITARY */
#military-wrapper {
  height: 70%;
  position: relative;
}
#secondBlock {
  height: 50%;
}
/* Work Division */
#work-div{  
}
.grid-cell{
  position: relative;
  padding: 0px;
  border-style: none;
  border-width: 4px;
}
.grid-border{
  border-style: solid;
  border-width: 4px;
}
.center-grid {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-family: "SimSun";
  font-style: "bold";
  color: black;
  text-shadow: 0 0 5px black;
}
.grid-background{  
  position: absolute; 
  left: 0px; 
  top: 0px; 
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.65;
  transition-duration: 0.6s;
  z-index: 0;
}
.grid-background:hover{
  opacity: 0.0;
}
/* MISC Division */
#misc-div{
  height: 100%;
}
#misc-bg{
  background-image: url('src/misc.jpg');
  opacity: 0.9;
}
#misc-fg{
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#misc-fg a{
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-style: hidden;
}
#misc-content {  
  font-size: 22px;
  letter-spacing: 3px;
  font-family: "Trebuchet MS";
}
#misc-fg .div-title{
  font-family: "Trebuchet MS";
}
#misc-claim {  
  font-family: "Trebuchet MS";
  font-size: 16px;
  font-style: italic;
}
/* Footer */
#footer-div i{
  color: white;
  margin: 0px 5px;
}
#copyright a:link, #copyright a:visited, #copyright a:hover, #copyright a:active {
  color: white;
}
@media (max-width: 768px) {   
  .hero-text {
    font-size: 3rem;
    text-shadow: 0px 0px 10px black;
  }
  .div-title{
    font-size: 33px;
  }
  #name-eng {
    font-size: 32px;
  }
  #name-ch {
    font-size: 32px;
  }
  #landing-content i.fab {
    font-size: 40px;
  }
  #misc-fg{
    width: 90%;
  }
  #misc-content {
    font-size: 16px;
    letter-spacing: 1px;
  }
  #misc-claim {
    font-size: 13px;
  }
  #misc-fg i.fas {
    font-size: 40px;
  }
 }