html, body {
  height: 100%;
  width: 100%;
}
body {
  min-height: 100%;
  overflow-y: scroll;
  position: relative;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
#top-nav{
  background-color: rgba(0, 0, 0, 0.0);
  transition: 0.7s;
}
#top-nav:hover{
  background-color: rgba(0, 0, 0, 0.75);  
}
#brand-img{
  width: 40px;
  height: 40px;
}
#brand-text{
  font-family: "Palatino";
}

#landing-wrapper{
  height: 100%;
  position: relative;
}
#landing-content {
  color: white;
  text-shadow: 0px 0px 10px black;
  cursor: default;
}
#landing-content *{
  transition: 0.7s;
}
#landing-content *:hover{
  transform: scale(1.2);
}
/*
#landing-text {
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.0);
  transition-duration: 1.6s;
}#landing-text:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
*/
#first-block {
  margin: 10px 0px 10px 0px;
}

#graduation-wrapper {
  height: 70%;
  position: relative;  
}
#graduation-content {  
}

#secondBlock {
  height: 50%;
}

#military-wrapper {
  height: 70%;
  position: relative;
}
#military-content{
}

#footer {
  height: 50%;
}

.center-block {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text {
  font-family: 'Impact'; 
  color:white; 
  text-shadow: 0px 0px 28px black; 
}
@media (max-width: 768px) {   
  .hero-text {
    font-size: 3rem;
    text-shadow: 0px 0px 10px black;
  }
 }