/* General */
html{
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}
body{
  cursor: default;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
  font-family: "Microsoft YaHei";
}
.center-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* TOP */
#top-div{
  position: relative;
  height: 35%;
}
#top-div .bg-filter{
  height: 100%;
  background-color: rgba(255, 255, 255, 0.65);
}
#top-div .center-block{
  font-size: 3em;
  text-shadow: 0 0 15px white;
}
/* Filter Button Group */
#filterButton {
  background-color: rgba(0, 0, 0, 0.1)
}
#filterButton button {
  cursor: pointer;
  color: white;
  width: 12.25%;
  padding: 4% 0px;
  border: none;
}
#gallery-div {
  background-color: #708a98;
  transition: all .8s ease;
}
button.all, #gallery-div.all {
  background-color: #708a98
}

button.general, #gallery-div.general {
  background-color: #FF5722
}

button.phy, #gallery-div.phy {
  background-color: #8BC34A
}

button.music, #gallery-div.music {
  background-color: #2196F3
}

button.art, #gallery-div.art {
  background-color: #FF9800
}

button.edu, #gallery-div.edu {
  background-color: #9C27B0
}

button.camp, #gallery-div.camp {
  background-color: #795548
}
/* Gallery Division */
#gallery-div{
  position: relative;
  background-color: #708a98;
  max-width: 1400px;
  margin: 0 auto;
}
#gallery-div .gallery-cell {
  border-radius: 10px;
  width: 100%;
  position: absolute;
  transition: all .8s ease;
}
#gallery-div .gallery-cell:hover {
  box-shadow: 0 0 10px black;
  background-color: rgba(255, 255, 255, 0.4)
}
#gallery-div .gallery-cell .cell-image {
  max-width: 100%;
  height: auto;
}
#gallery-div .gallery-cell .cell-title {
  font-weight: 600;
  font-size: 1.7em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#gallery-div .gallery-cell .cell-date {
  font-size: 1.5em;
}
#gallery-div .gallery-cell button{
  
}

/* Footer */
#footer-div i{
  color: white;
  margin: 0px 5px;
  transition: .2s;
}
#footer-div i:hover{
  transform: scale(1.5);
}
#copyright a:link, #copyright a:visited, #copyright a:hover, #copyright a:active {
  color: white;
}
#footer-div #copyright{
  font-size: 1.3em;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* Default CSS */
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  #top-div {
    height: 60%;
  }
  #top-div .center-block{
    font-size: 5em;
    letter-spacing: 3px;
  }
  #gallery-div .gallery-cell {
    width: 24%;
  }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }