/* General */
html{
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}
body{
  width: 100%;
  min-height: 100%;
  overflow-y: scroll;
  font-family: "Microsoft YaHei";
}
.center-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* TOP */
#top-div{
  padding: 40px;
}
/* Gallery */
#gallery-div{
  cursor: default;
  background-color: rgba(0, 0, 0, 0.)
}
.my-video-frame{
  margin: 0 0 5px 0;
  transition: all .8s ease;
}
.my-video-frame > div.row{
  background-color: rgba(0, 0, 0, 0.4)
}
.video-title, .video-date, .video-category {
  margin-bottom: 5px; 
}
p.video-title {
  font-weight: 600;
  font-size: 1.7em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
p.video-date, p.video-category {
  font-size: 1.5em;
}
.video-date{
  font-size: 80%;
}
.video-title {
  overflow: hidden;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* Default CSS */
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }