/* ROOT NECESSAORY */
.review_red { 
  color: red;
}
.review_blue { 
  color: blue;
}
.review_green { 
  color: rgb(63, 216, 63);
}
.div-hr {
  height: 2px;
  border: none;
  color: #333;
  background-color: #333;
  width: 75%;
}
section div{
  padding: 0px 0px;
}
.center-h{
  margin: auto;
}
/* dashboard */
#quiz-preview{
  margin: auto;
  padding-left: 30px;
  color: gray;
}
.quiz-preview-area{
  color: black;
  margin: auto;
  padding-left: 60px;
  margin-bottom: 15px;
}
/* template */
#student_container_template{
  display: none;
}
/* A4 student typeset */
section.student-container{  
  font-family: DFKai-sb;
}
.a4-title{
  text-align: center;
  font-size: 26px;
  font-weight: bolder;
  margin-bottom: 25px;
  letter-spacing: 3px;
}
.a4-to{
  margin: 10px auto;
  font-size: 20px;
  letter-spacing: 1px;
}
.a4-intro{
  margin: 10px auto;
  text-indent: 40px;
  font-size: 20px;
  letter-spacing: 2px;
}
.a4-intro2{
  margin: 10px auto;
  text-indent: 40px;
  font-size: 20px;
  letter-spacing: 2px;
}
.a4-recordTime{
  margin: 12px auto 14px auto;
  font-size: 20px;
}
.a4-student_id{
  color: rgb(122, 122, 255);
}
.a4-student_score{
  color: rgb(122, 122, 255);
  display: none;
}
.a4-chart{
  margin: auto;
  width: 40%;
}
.a4-reviewTitle{
  margin: 12px auto 2px auto;
  font-size: 20px;
  letter-spacing: 1px;
}
.a4-review{
  text-indent: 40px;
  margin: 10px auto 14px auto;
  font-size: 20px;
}
.a4-parent{
  margin: 20px auto 20px auto;  
  font-size: 20px;
}
.a4-sign{
  margin: 80px auto 20px auto;  
  font-size: 20px;
}
.a4-school{
  margin: 40px auto 20px auto;
  font-size: 20px;
  position: absolute;
  bottom: 100px;
  right: 100px;
}