/* ROOT NECESSAORY */
html, body{
  position: relative;
}
.div-hr {
  height: 2px;
  border: none;
  color: #333;
  background-color: #333;
  width: 75%;
}
.test-welfare{
  padding: 5px;
  background-color: rgb(197, 197, 197)
}
/* Tutorial */
#collapseTutorial {
  background-color: rgb(191, 191, 191);
}
/* Quiz selection */
#quizSection_template{
  display: none;
}
#quizButton_template{
  display: none;
}
.quizSection{
  background-color: rgb(211, 211, 211);
}
/* Selected Box */
#selectedBox_template{
  display: none;
}
#selectedBoxArea{
}
#selectedTable{
  position: relative;
  background-color: bisque;
  opacity: 0.75;
  transition-duration: .4s;
}
#selectedTable:hover{
  opacity: 1.0;
}
/* Download link*/
#downloadAnchorElem{
  padding: 10px 20px;
  color: white;
  text-decoration-color: white;
}